.tournament-page {
    min-height: 100vh;
    background-color: #4ba100;
    background-image: url("/images/football-no-lines.png");
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content-tournament {
    flex: 1;
    padding-top: 80px;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .main-content-tournament {
        padding: 20px 10px 10px 10px;
    }
}